// General
$menu-border-radius: 1rem;
$menu-hover: #378eb5e6;
$scroll-btn-bg: #c9c9c923;

// Light mode
$main-black: #202020;
$nav-bg-light: #3F6D9F;
$title-color-light: #2f4d5a;

// Dark mode
$main-white: #f5f5f5;
$nav-bg-dark: #032155;