// General
$menu-border-radius: 1rem;
$menu-hover: #378eb5e6;
$scroll-btn-bg: #c9c9c923;

// Light mode
$main-black: #202020;
$text-grey: #848484;
$shadow: #84848480;
$nav-bg-light: #3f6d9f;
$title-color-light: #2f4d5a;
$background-light: #f4f9fc;

// Dark mode
$main-white: #ffffff;
$nav-bg-dark: #032154;
$background-dark: #2e2e2e;

// Font
$regular: Raleway-Regular, sans-serif;
$bold: Raleway-bold, sans-serif;